<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: page_head('Verification Failed!', '/css/verifyStyle.css', 'none')}"></head>

<body>

<body class="d-flex align-items-center justify-content-center">

<!-- Card: Error Card -->
<div class="card col-4 alert alert-danger border border-danger text-danger">
  <!-- Card Title -->
  <h3 class="card-title">
    <i class="fa fa-window-close me-2"></i>Customer Verification:
  </h3>
  <!-- End Of Card Title -->
  <hr>
  <!-- Card Body -->
  <div class="card-body">
    <!-- Card Text -->
    <p class="card-text">
      Your account was already verified, or the verification code is invalid.
    </p>
    <!-- End Of Card Text -->
    <hr>
    <!-- Back To Login Page -->
    <a th:href="@{/login}" class="btn btn-sm btn-danger">
      <i class="fa fa-arrow-alt-circle-left me-1"></i> Back
    </a>
    <!-- End Of Back To Login Page -->
  </div>
  <!-- End Of Card Body -->
</div>
<!-- End Of Card: Error Card -->
</body>
</html>