<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: page_head('Reset Password', '/css/default.css', 'none')}"></head>

<body class="d-flex align-items-center justify-content-center">
<!-- Card: Success Card -->
<div class="card col-4">
  <!-- Card Title -->
  <h3 class="card-title" style="color: black">
    Reset Your Password:
  </h3>
  <!-- End Of Card Title -->
  <hr>
  <!-- Card Body -->
  <div class="card-body">
    <!-- Card Text -->
    <form th:action="@{/reset_password}" method="post" style="max-width: 420px; margin: 0 auto">
      <input type="hidden" th:value="${token}" name="token" />

        <p>
          <input type="password" class="form-control"
                 name="password" placeholder="Enter your new password"
                 minlength="8" maxlength="15" required="required" autofocus="autofocus"/>
        </p>
        <div>
          <p>
            <input type="password" class="form-control"
                   id="password"
                   placeholder="Confirm your new password"
                   oninput="checkPasswordMatch(this)"
                   minlength="8" maxlength="15" required="required"/>
          </p>
        </div>
        <div>
          <input type="submit" value="Change Password" class="btn btn-primary" />
        </div>

    </form>
    <!-- End Of Back To Login Page -->
  </div>
  <!-- End Of Card Body -->
</div>
<!-- End Of Card: Success Card -->
<script type="text/javascript">
  function checkPasswordMatch(confirmPassword){
    if(confirmPassword.value !== $("#password").val()){
      confirmPassword.setCustomValidity("Passwords do not match!");
    }else{
      confirmPassword.setCustomValidity("");
    }
  }
</script>
</body>
</html>