<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments :: page_head('Login', '/css/default.css', 'none')}"></head>
<body class="d-flex align-items-center justify-content-center">

<!-- Card: Login Form Card -->
<div class="card login-form-card col-4 bg-transparent border-0">
  <!-- Card Body -->
  <div class="card-body">
    <!-- Form Header -->
    <h1 class="form-header card-title mb-3">
      <i class="fa fa-user-circle"></i> Login
    </h1>
    <!-- End Of Form Header -->

    <!-- Login Form -->
    <form th:action="@{/login}" method="post" class="login-form">

      <div th:if="${param.error}">
        <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
      </div>
      <div th:if="${param.logout}">
        <p class="text-warning">You have been logged out.</p>
      </div>

      <!-- From Group -->
      <div class="form-group col">
        <input type="email" name="email" class="form-control form-control-lg" placeholder="Enter Email"/>
      </div>
      <!-- End Of From Group -->

      <!-- From Group -->
      <div class="form-group col">
        <input type="password" name="password" class="form-control form-control-lg" placeholder="Enter Password"/>
      </div>
      <!-- End Of From Group -->

      <!-- From Group -->

      <div class="form-group col">
        <input type="checkbox" name="remember-me"> &nbsp; Remember Me
      </div>

      <div class="form-group col">
        <button type="submit" value="Login" class="btn btn-lg">Login</button>
      </div>
      <div class="form-group col">
        <a class="btn btn-lg btn-primary link" th:href="@{/oauth2/authorization/google}">
          <i class="fab fa-google"></i>
        </a>
      </div>
      <!-- End Of From Group -->

    </form>
    <!-- End Of Login Form -->



    <!-- Card Text -->
    <p class="card-text text-white my-2">
      Dont have an account? <span class="ms-2"><a th:href="@{register}" class="btn bt-sm text-warning">Sign Up</a></span>
    </p>

    <p class="card-text text-white my-2">
      or <span class="ms-2"><a th:href="@{/forgot_password}" class="btn bt-sm text-warning">Forgot Password</a></span>
    </p>
    <!-- Card Text -->

    <!-- Back Button To Landing Page -->
    <small class="text-warning">
      <i class="fa fa-arrow-alt-circle-left"></i> <a th:href="@{index}" class="btn btn-sm text-warning">Back</a>
    </small>
    <!-- End Of Back Button To Landing Page -->

  </div>
  <!-- End Of Card Body -->
</div>
<!-- Card: Login Form Card -->

</body>
</html>