<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragments :: page_head('Users', '/css/style.css', 'none')}"></head>
<body>
<div class="container-fluid">

    <div th:replace="~{navigation :: menu}"></div>

    <div>
        <h2>Manage Users</h2>

    </div>

    <div>
        <a th:href="@{/users/new}" class="fa-solid fa-user-plus fa-2x mr-3"></a>

        <a th:href="@{/users/export/csv}" class="fa-solid fa-file-csv fa-2x mr-3"></a>
        &nbsp;
        <a th:href="@{/users/export/excel}" class="fa-solid fa-file-excel fa-2x mr-3"></a>

        <a th:href="@{/users/export/pdf}" class="fa-solid fa-file-pdf fa-2x"></a>
    </div>

    <div>
        <form th:action="@{/users/page/1}" class="form-inline m-3">
            <input type="hidden" name="sortField" th:value="${sortField}" />
            <input type="hidden" name="sortDir" th:value="${sortDir}" />

            Filter:&nbsp;
            <input type="search" name="keyword" th:value="${keyword}" class="form-control" required/>
            &nbsp;&nbsp;
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-search"></i>
            </button>
            &nbsp;&nbsp;
            <button type="button" class="btn btn-secondary" onclick="clearFilter()">
                <i class="fas fa-eraser"></i>
            </button>
        </form>
    </div>

    <div th:if="${message != null}" class="alert alert-success text-center"> [[${message}]]</div>

    <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="thead-dark">
            <tr>
                <th class="hideable-column">
                <th th:replace="~{fragments :: column_link('id', 'User ID', 'tag')}"></th>
                </th>
                <th>Photos</th>
                <th class="hideable-column">
                <th th:replace="~{fragments :: column_link('email', 'E-mail', 'tag')}"></th>
                </th>
                <th th:replace="~{fragments :: column_link('firstName', 'First Name', 'none')}"></th>
                <th th:replace="~{fragments :: column_link('lastName', 'Last Name', 'none')}"></th>
                <th>Roles</th>
                <th th:replace="~{fragments :: column_link('enabled', 'Enabled', 'none')}" sec:authorize="hasAuthority('Admin')"></th>
                <th sec:authorize="hasAuthority('Admin')"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${listUsers}">
                <td class="hideable-column">[[${user.id}]]</td>
                <td>
                <div th:replace="~{fragments :: user_photos}"></div>
                </td>
                <td class="hideable-column">[[${user.email}]]</td>
                <td>[[${user.firstName}]]</td>
                <td>[[${user.lastName}]]</td>
                <td>[[${user.roles}]]</td>
                <td sec:authorize="hasAuthority('Admin')">
                    <div th:replace="~{fragments :: status(${user.enabled}, 'user', '/users/' + ${user.id})}"></div>
                </td>

                <td sec:authorize="hasAuthority('Admin')">
                    <div th:replace="~{fragments :: edit('user', '/users/edit/' + ${user.id})}"></div>
                    &nbsp;&nbsp;
                    <div th:replace="~{fragments :: delete('user', ${user.id}, '/users/delete/' + ${user.id}, true)}"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="less-details">
        <div th:each="user : ${listUsers}" class="row m-1">
            <div class="col-4">
                <div th:replace="~{fragments :: user_photos}"></div>
            </div>
            <div class="col-8">
                <div>[[${user.fullName}]]</div>
                <div>[[${user.roles}]]</div>
                <div class="mt-2">
                    <div th:replace="~{fragments :: status(${user.enabled}, 'user', '/users/' + ${user.id})}"></div>
                    &nbsp;
                    <div th:replace="~{fragments :: edit('user', '/users/edit/' + ${user.id})}"></div>
                    &nbsp;
                    <div th:replace="~{fragments :: delete('user', ${user.id}, '/users/delete/' + ${user.id}, true)}"></div>
                    &nbsp;
                </div>
            </div>
            <div>&nbsp;</div>
        </div>
    </div>

    <div th:replace="~{fragments :: pagination('users')}"></div>

    <div th:replace="~{modal_fragments :: confirm_modal}"></div>

    <div th:replace="~{fragments :: footer}"></div>

</div>

<script type="text/javascript">
    moduleURL = "[[@{/users}]]";
    entityName = "user";

</script>
<script type="text/javascript" th:src="@{/js/common_list.js}"></script>
</body>
</html>